<%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
%>
<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="description" content="<%- config.subtitle %>" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- open_graph({twitter_id: theme.twitter_profile, google_plus: theme.googleplus_profile, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <!-- build:css css/screen.css -->

  <%- css('css/screen') %>
  <% if (theme.fancybox || page.fancybox){ %>
  <link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen" type="text/css">
  <% } %>
  <!-- endbuild -->
  <% if (theme.fancybox || page.fancybox){ %>
  <!-- build:css fancybox/jquery.fancybox.css -->
  <link rel="stylesheet" href="<%- config.root %>fancybox/jquery.fancybox.css" media="screen" type="text/css">
  <!-- endbuild -->
  <% } %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
  <meta name="generator" content="<%- config.title %>">
  <% if (config.rss) { %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%- config.rss %>">
  <% } %>
  <% if (config.feed && config.feed.type == 'atom') { %>
  <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="<%- config.feed.path %>">
  <% } %>
  <% if (config.feed && config.feed.type == 'rss') { %>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="<%- config.feed.path %>">
  <% } %>
</head>
