<header class="main-header <% if (page.title) { %>post-head<% } %> <% if (page.title && !page.cover) { %>no-cover<% } %><% if (!page.title && page.current>1) { %>small-cover<% }%>" <% if (!page.title && theme.cover) { %> style="background-image: url(<%- theme.cover %>)" <% } %><% if (page.title && page.cover) { %> style="background-image: url(<%- page.cover %>)" <% } %>>
    <nav class="main-nav <% if (!page.title || page.cover) { %>overlay<% } %> clearfix">
        <% if (!page.title) { %><a class="blog-logo" href="<%- config.root %>"><%- theme.title %></a><% } %>
        <% if (page.title) { %><a class="back-button icon-arrow-left" href="<%- config.root %>">Home</a><% } %>
        <% if (config.rss || config.feed || theme.rss || theme.feed) {  %><a class="subscribe-button icon-feed" href="<%- theme.rss %>">Subscribe</a><% } %>
    </nav>
    <% if (!page.title) { %>
    <div class="vertical">
        <div class="site-head-content inner">
            <h1 class="page-title"><%- config.title %></h1>
            <h2 class="page-description"><%- config.subtitle %></h2>
        </div>
    </div>
    <% } %>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
