
<main id="content" class="content" role="main">
  <% page.posts.each(function(post) { %>
  <article class="post" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <% if (post.link || post.title){ %>
    <header class="post-header">
      <%- partial('post/title', {class_name: 'post-title', post: post}) %>
    </header>
    <% } %>
    <section class="post-excerpt" itemprop="description articleBody">
      <p>
      <% if (post.excerpt){ %>
        <%- post.excerpt %>
      <% } else { %>
        <%- post.content.replace(/<(?:.|\n)*?>/gm, '').substr(0, 220) %>
      <% } %>
      </p>
      <% if (theme.excerpt_link) { %>
      <p>
          <a href="<%- url_for(post.path) %>" class="excerpt-link"><%= theme.excerpt_link %>...</a>
      </p>
      <% } %>
    </section>
    <%- partial('post/meta-index', {post: post}) %>
  </article>
  <% }); %>
  <nav class="pagination" role="pagination">
    <% if (page.prev) { %><a class="newer-posts" href="<%- url_for(page.prev_link) %>">← Newer Posts</a><% } %>
    <span class="page-number">Page <%- page.current %> of <%- page.total %></span>
    <% if (page.next) { %><a class="older-posts" href="<%- url_for(page.next_link) %>">Older Posts →</a><% } %>
  </nav>
</main>
