
<% permalink = config.url + config.root + post.path %>
<main id="content" class="content" role="main">
  <article class="post" itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      <h1 class="post-title" itemprop="name"><%- post.title %></h1>
      <%- partial('post/meta') %>
    </header>
    <section class="post-content" itemprop="description articleBody">
      <%- partial('post/gallery', {post: post}) %>
      <% if (date(post.date, null) !== date(post.updated, null)) {%>
      <%- partial('post/update', {post:post}) %>
      <% } %>
      <%- post.content %>
    </section>
    <footer class="post-footer">
      <%- partial('post/author', {post: post}) %>
      <%- partial('post/share') %>
    </footer>
  </article>
  <%- partial('post/navigation') %>
  <%- partial('post/comments') %>
</main>
